{
  "swagger": "2.0",
  "info": {
    "title": "Page",
    "description": "This is a page api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "page.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http",
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/page/": {
      "get": {
        "summary": "retrieves all pages",
        "description": "pulls all pages, with filter by keyword",
        "operationId": "getPages",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across page",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "page response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/page"
              }
            }
          }
        },
        "tags": [
          "Page"
        ]
      },
      "post": {
        "summary": "add page",
        "description": "add a new page",
        "operationId": "addPage",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the page",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the page",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the page",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the page",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "page response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/page"
              }
            }
          }
        },
        "tags": [
          "Page"
        ]
      }
    },
    "/page/{page_id}": {
      "get": {
        "summary": "Retrieve a page using its id",
        "description": "Returns the page detail",
        "operationId": "getPage",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "id for the page, notice this is in the path, not a query variable",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "page response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/page"
              }
            }
          }
        },
        "tags": [
          "Page"
        ]
      },
      "put": {
        "summary": "update page",
        "description": "update page",
        "operationId": "updatePage",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "unique id for the page",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the page",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the page",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the page",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the page",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "page response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/page"
              }
            }
          }
        },
        "tags": [
          "Page"
        ]
      },
      "delete": {
        "summary": "delete page",
        "description": "deletes an page",
        "operationId": "deletePage",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "unique id for the page",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "page response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/page"
              }
            }
          }
        },
        "tags": [
          "Page"
        ]
      }
    }
  },
  "definitions": {
    "page": {
      "properties": {
        "name": {
          "description": "name of the page",
          "type": "string"
        },
        "description": {
          "description": "description of the page",
          "type": "string"
        },
        "url": {
          "description": "url for the page",
          "type": "string"
        },
        "tags": {
          "description": "tags for the page",
          "type": "string"
        },
        "id": {
          "description": "id for the page",
          "type": "string"
        }
      }
    }
  }
}
